[submodule "busybox"]
	path = busybox
	url = https://github.com/cpuex2019-yokyo/busybox
	branch = master
[submodule "linux"]
	path = linux
	url = https://github.com/cpuex2019-yokyo/linux
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://github.com/cpuex2019-yokyo/qemu
	branch = master
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "xv6-riscv"]
	path = xv6-riscv
	url = https://github.com/cpuex2019-yokyo/xv6-riscv
    branch = master
[submodule "core"]
	path = core
	url = https://github.com/cpuex2019-yokyo/core
    branch = master
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/cpuex2019-yokyo/toolchain
    branch = master